{# src/Blog/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BlogBundle::layout.html.twig' %}
{% block title %}Blog -> pk-dev.pl{% endblock %}
{% block body %}
<ul id="item-list">
  {% for article in blogArticles %}
    <li>
      <div class="item-content">
        <div class="item-image">
          {% if article.image %}
            <a href="{{ path('blog_show_article', { 'id': article.id }) }}">
              <img src="{{ asset(['images/',article.image]|join) }}" width="100" height="100" alt=""/>
            </a>   
            {% endif %}
          </div>
          <a href="{{ path('blog_show_article', { 'id': article.id }) }}">
            <span class="item-title">{{article.title}}</span>
            <span class="item-short">{{ article.content(75) }}</span>
          </a>
        </div>
      </li>
  {% endfor %}
    </ul>
{% endblock %}